.orders {
  padding: 20px;
}

.orders-row {
  margin-bottom: 20px;
}

.orders-col {
  display: flex;
  align-items: center;
}

.orders-lable {
  font-size: 2rem;
  margin-bottom: 0px;
}

.orders-table {
  vertical-align: middle;
}
